@model Client.ViewModels.CombinedViews.TaskDetailsVM

@{
    ViewData["Title"] = "Index";
    Layout = "_DashboardLayout";
}
<h1 style="color:white;">Task List</h1>

@if (User.IsInRole("Student"))
{
    <div class="card w-100 wm-100">
        <div class="card-body px-0 pt-0 pb-2 text-center">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="studentTaskTable">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">No</th>
                            <th scope="col" class="text-center">Classroom</th>
                            <th scope="col" class="text-center">Task</th>
                            <th scope="col" class="text-center">Deadline</th>
                            <th scope="col" class="text-center">Submitted</th>
                            <th scope="col" class="text-center">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var studentTask in Model.StudentTaskVMs)
                        {
                            <tr id="studentTaskList" onclick="window.location.href='@Url.Action("LessonDetail", "Classroom", new { lessonGuid = studentTask.LessonGuid })'">
                                <td>@(i++)</td>
                                <td>@studentTask.ClassroomName</td>
                                <td style="max-width:100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@studentTask.LessonName</td>
                                <td>@if(studentTask.Deadline != null)
                                    {
                                        @studentTask.Deadline
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-minus"></i>
                                    }
                                </td>
                                <td>
                                    @if (studentTask.IsSubmitted is true)
                                    {
                                        <p style="display:none;">Yes</p>
                                        <a class="fa-solid fa-check" style="color: #2dce89;"></a>
                                    }
                                    else
                                    {
                                        <p style="display:none;">No</p>
                                        <a class="fa-solid fa-x" style="color: #900C3F;"></a>
                                    }
                                </td>
                                <td>
                                    @if (studentTask.Grade != null)
                                    {
                                        @studentTask.Grade
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-minus"></i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @section Scripts {
    <script src="~/js/taskStudent.js" asp-append-version="true"></script>
    }
}

else if (User.IsInRole("Teacher"))
{
    <div class="card p-3">
        <div class="card-body px-0 pt-0 pb-2 text-center">
            <div class="table-responsive p-0">
                <table class="table table-hover align-items-center mb-0 display nowrap" id="teacherTaskTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Classroom</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Lesson</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Deadline Date</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Not Submitted</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Graded</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Not Graded</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- parent row -->
                        @foreach (var teacherTask in Model.TeacherTaskVMs)
                        {
@*                            @if (teacherTask.TaskInClassroom != null && teacherTask.Any())
                            {*@
                            <tr style="cursor:pointer;" onclick="window.location.href='@Url.Action("LessonDetail", "Classroom", new { lessonGuid = @teacherTask.LessonGuid })'" class="parent-row">
                                <!-- Tambahkan class "parent-row" di sini -->
                                <td class="text-sm fw-bold" style="max-width:100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@teacherTask.ClassroomName</td>
                                <td class="text-sm" style="max-width:100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@teacherTask.LessonName</td>
                                    @if (teacherTask.DeadlineDate != null)
                                    {
                                    <td class="text-sm">@teacherTask.DeadlineDate</td>
                                    } 
                                    else 
                                    {
                                    <td class="text-sm fw-bold"><i class="fa-solid fa-minus"></i></td>
                                    }
                                <td class="text-sm">@teacherTask.TotalNotSubmitted</td>
                                <td class="text-sm">@teacherTask.TotalGraded</td>
                                <td class="text-sm">@teacherTask.TotalNotGraded</td>
                            </tr>
                            <!-- child row -->
                            @*<tr class="child-row">
                                <td class="p-0">
                                        <table class="table table-hover">
                                            <thead class="table-primary">
                                            <tr>
                                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Lesson</th>
                                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Deadline Date</th>
                                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Not Submitted</th>
                                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Graded</th>
                                                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Not Graded</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-primary">
                                            @foreach (var taskInClass in teacherTask.TaskInClassroom)
                                            {
                                                @if (teacherTask.TaskInClassroom != null && teacherTask.TaskInClassroom.Any())
                                                {
                                                        <tr style="cursor:pointer;" onclick="window.location.href='@Url.Action("LessonDetail", "Classroom", new { lessonGuid = @taskInClass.LessonGuid })'">
                                                            <td class="text-sm fw-bold" style="max-width:100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@taskInClass.LessonName</td>
                                                            <td class="text-sm fw-bold">@taskInClass.DeadlineDate</td>
                                                            <td class="text-sm fw-bold">@taskInClass.TotalNotSubmitted</td>
                                                            <td class="text-sm fw-bold">@taskInClass.TotalGraded</td>
                                                            <td class="text-sm fw-bold">@taskInClass.TotalNotGraded</td>
                                                        </tr>                                                    
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>*@
@*                            }*@

                        }
                    </tbody>
                </table>


                @*<table class="table align-items-center mb-0 display nowrap" id="teacherTaskTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col" class="text-center">No</th>
                            <th scope="col" class="text-center">Classroom</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var teacherTask in Model.TeacherTaskVMs)
                        {
                            <tr class="parent-row">
                                <td class="details-control"></td>
                                <td>@(i++)</td>
                                <td>@teacherTask.ClassroomName</td>
                            </tr>
                            <tr class="child-row">
                                <td colspan="3">
                                    <table class="table" id="childRowTeacher">
                                        <thead>
                                            <tr>
                                                <th>Lesson</th>
                                                <th>Deadline Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var taskInClass in teacherTask.TaskInClassroom)
                                            {
                                                <tr>
                                                    <td style="max-width:100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@taskInClass.LessonName</td>
                                                    <td>@taskInClass.DeadlineDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>*@
            </div>
        </div>
    </div>

   @* <table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Item 1</th>
                <th>Item 2</th>
                <th>Item 3</th>
                <th>Item 4</th>
            </tr>
        </thead>
        <tbody>
            <tr data-child-value="hidden 1">
                <td class="details-control"></td>
                <td>data 1a</td>
                <td>data 1b</td>
                <td>data 1c</td>
                <td>data 1d</td>
            </tr>
            <tr data-child-value="hidden 2">
                <td class="details-control"></td>
                <td>data 2a</td>
                <td>data 2b</td>
                <td>data 2c</td>
                <td>data 2d</td>
            </tr>
        </tbody>
    </table>*@

    @section Scripts {
    <script src="~/js/taskTeacher.js" asp-append-version="true"></script>
    }

}
else{
    <p>check your account</p>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassroomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskGuid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassroomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskGuid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@