@model IEnumerable<Client.ViewModels.Users.ClassroomByUserVM>
@using System.Net.Http

@{
    ViewData["Title"] = "Classroom";
    Layout = "_DashboardLayout";
}

<h1 style="color:white;">Classroom</h1>

@if (User.IsInRole("Student"))
{
    @*<div>
        <div class="" id="">
            <input type="text" class="form-control" id="classroomCode">
        </div>
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#enrollModal">+ Enroll Class</a>
    </div>*@
    <p>
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#enrollModal">+ Enroll Class</a>
    </p>
    <div class="container ms-0 me-0 px-0">
        <div class="row row-cols-auto g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card" style="width: 16rem; outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;">
                        <img src="https://img.freepik.com/free-vector/students-watching-webinar-computer-studying-online_74855-15522.jpg?w=1060&t=st=1692673590~exp=1692674190~hmac=4abf566d1de74fbf791ca6f1f516091e2c076b20f1c7636b8a000cb24ab742e6" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.ClassroomName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.TeacherName)</p>
                            <a href="/dashboard/lessons?lessonByClassroomGuid=@item.ClassroomGuid" class="btn btn-primary">View Class </a>
                            <form asp-action="Unenroll" id="UnenrollForm">
                                <input type="hidden" name="userClassroomGuid" value="@Html.DisplayFor(modelItem => item.UserClassroomGuid)" />
                                <button class="btn-danger" type="button" style="position: absolute; top: 10px; right: 15px; border-radius: 5px; border-width: 0;" onclick="Unenroll('@item.ClassroomName','@item.UserClassroomGuid')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
  

    <div class="modal" tabindex="-1" id="enrollModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search Class</h5>
                    <button type="button" class="btn btn-danger btn-close bg-danger me-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" class="form-control" id="classroomCode" placeholder="Your classroom code">
                        </div>
                        <div class="col-2">
                            <button onclick="GetEnroll('#classroomCode', '@Context.Session.GetString("JWToken")')" id="enrollCheck" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <div id="getEnrollView" class="card slide-top-card mt-5" style="width: 18rem; display: none;">
                        <img src="https://img.freepik.com/free-vector/students-watching-webinar-computer-studying-online_74855-15522.jpg?w=1060&t=st=1692673590~exp=1692674190~hmac=4abf566d1de74fbf791ca6f1f516091e2c076b20f1c7636b8a000cb24ab742e6" class="card-img-top" alt="...">
                        <div class="card-body" id="cardBodyEnroll">
                            <h5 class="card-title" id="classroomNameEnroll"></h5>
                            <p class="card-text" id="teacherNameEnroll"></p>
                            <div class="mb-3" id="user-guid" style="display: none;">
                                <label for="userGuid" class="form-label"></label>
                                <input type="hidden" class="form-control" id="userGuid" value="@User.FindFirst("Guid").Value" readonly>
                            </div>
                            <div class="mb-3" id="classroom-code" style="display: none;">
                                <label for="classroomCode" class="form-label"></label>
                                <input type="text" class="form-control" id="classroomCode">
                            </div>
                            <button type="button" onclick="Enroll('@Context.Session.GetString("JWToken")')" class="btn btn-primary" id="enrollNow">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* <div class="modal" tabindex="-1" id="enrollModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enroll in a Class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3" id="user-guid" style="display: none;">
                        <label for="userGuid" class="form-label"></label>
                        <input type="hidden" class="form-control" id="userGuid" value="@User.FindFirst("Guid").Value" readonly>
                    </div>
                    <div class="mb-3" id="classroom-code">
                        <label for="classroomCode" class="form-label">Enroll Code</label>
                        <input type="text" class="form-control" id="classroomCode">
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="enrollNow">Enroll Now</button>
                    </div>
            </div>
        </div>
    </div>*@
}

@if (User.IsInRole("Teacher"))
{
    <div class="container ms-0 me-0 ps-0">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalClassroom"><i class="fas fa-plus"></i> Add Classroom</button>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="myTableClassroom" class="table align-items-center mb-0 table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">No</th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Classroom Name</th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Student Count</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(i++)
                                            </td>
                                            <td>
                                                <p class="my-auto" style="font-weight: bold; font-size:14px;"> @Html.DisplayFor(modelItem => item.ClassroomName) </p>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StudentCount)
                                            </td>
                                            <td>
                                                <a href="/dashboard/lessons?lessonByClassroomGuid=@item.ClassroomGuid" class="btn btn-primary my-auto"><i class="fa-solid fa-eye"></i> Lesson</a>
                                                <button onclick="ShowUpdateClassroom('@item.ClassroomGuid')" data-bs-toggle="modal" data-bs-target="#modalUpdate" class="btn btn-warning my-auto"><i class="fas fa-edit"></i> </button>
                                                <button onclick="DeleteClassroom('@item.ClassroomGuid')" data-bs-toggle="modal" data-bs-target="" class="btn btn-danger my-auto"><i class="fas fa-trash"></i> </button>
                                                @* <form action="/Dashboard/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                                        <input type="hidden" value="@item.ClassroomGuid" name="guid" />
                                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return true" />
                                        </form>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*-----------------MODAL INSERT CLASSROOM-----------------*@
    <div class="modal" tabindex="-1" id="modalClassroom">
        <div class="modal-dialog  modal-dialog-centered ms-auto">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Classroom</h5>
                    <button type="button" class="btn btn-danger btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="col">
                        <form id="addClassroomForm">
                            <div class="mb-3">
                                <label for="nameClassroom" class="form-label">Classroom Name</label>
                                <input type="text" class="form-control" id="nameClassroom" name="NameClassroom" required>
                            </div>
                            <div class="mb-3">
                                <label for="descriptionClassroom" class="form-label">Description</label>
                                <textarea class="form-control" id="descriptionClassroom" name="descriptionClassroom"></textarea>
                            </div>
                            <div class="mb-3">
                                <input type="hidden" class="form-control" id="teacherGuidClassroom" name="teacherGuidClassroom" value="@User.FindFirst("Guid").Value" readonly>
                            </div>
                            <!-- Add other input fields as needed -->
                        </form>
                    </div>
                </div>
                <div class="modal-header">
                    <button onclick="InsertClassroom()" type="button" id="btnSave" class="btn btn-primary mx-auto">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTableClassroom').DataTable({
            dom: 'Blfrtip',
                buttons: [
                    //{
                    //    extend: 'csv',
                    //    text: '<i class="fa fa-file-text-o"></i> CSV',
                    //    className: "btn btn-primary"

                    //},
                    //{
                    //    extend: 'excel',
                    //    text: '<i class="fa fa-file-excel-o"></i>  EXCEL',
                    //    className: "btn btn-primary"

                    //},
                    {
                        extend: 'colvis',
                        text: 'Colvis',
                        className: "btn btn-outline-primary",
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fa fa-file-pdf-o"></i>  PDF',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        className: "btn btn-outline-primary",
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>  Print',
                        className: "btn btn-outline-primary",
                         exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'copy',
                        text: '<i class="fa fa-copy"></i>  COPY',
                        className: "btn btn-outline-primary",
                    }

                ]
            });
            var dataTableButtons = $('.dt-button');
            dataTableButtons.removeClass('dt-button');
        });
    </script>
  
    <script>
        const Token = '@Context.Session.GetString("JWToken")';
    </script>


    <script src="~/js/enroll.js" asp-append-version="true"></script>
}