@model Client.ViewModels.CombinedViews.ClassroomDetailsVM

@{
    ViewData["Title"] = "Lessons";
    Layout = "_Dashboardlayout";
}

<div class="card">
    @if (User.IsInRole("Teacher"))
    {
        <div class="d-flex align-items-start flex-column refresh-container">
            <div id="codeLesson" class="mb-0 ms-4" style="color:black;">
                <div class="row row-cols-auto mt-2">
                    <div class="col"><button onclick="RefreshCodeLesson('@Model.ClassroomModel.Guid')" class="refresh-button" id="refreshCode"><i class="fas fa-sync-alt"></i></button></div>
                    <div class="col mx-auto px-0 mb-0 mt-2 fw-bolder">Class Code = @Model.ClassroomModel.Code</div>
                    <div class="col mx-auto my-0 mt-2">
                        @if (Model.ClassroomModel.ExpiredDate < DateTime.Now)
                        {
                            <p class="text-danger">Code already expired</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="card my-3 mx-3 h-100" style="min-height:250px; background-image:url(https://gstatic.com/classroom/themes/img_backtoschool.jpg); background-size:cover;">
        @if (User.IsInRole("Teacher"))
        {
            <div class="d-flex align-items-start flex-column">
                <button onclick="ShowUpdateClassroom('@Model.ClassroomModel.Guid')" data-bs-toggle="modal" data-bs-target="#modalUpdate" class="btn btn-light"><i class="fas fa-edit"></i> Update Classroom</button>
        </div>
        }
        <div class="d-flex align-items-end flex-column">
            <a href="/dashboard/getpeople?classroomGuid=@Model.ClassroomModel.Guid" style="position: absolute; top: 5px; right: 12px; z-index:99; color:white;">See All Student</a>
        </div>

        <div class="ms-3 my-2 w-75" style="position: absolute; bottom: 0; left: 0;">
            <p class="h3" style="color:aliceblue;">@Model.ClassroomModel.Name</p>
            <p class="" style="color:aliceblue;">
                @Html.Raw(Model.ClassroomModel.Description.Replace("\n", "<br>"))
            </p>
        </div>
    </div>
    @if (User.IsInRole("Teacher"))
    {
        <div style="position:relative; left:15px;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLesson"><i class="fas fa-plus"></i> Add Lesson</button>
    </div>
    }
    @foreach (var item in Model.ClassroomLessonViewModels)
    {
        @if (User.IsInRole("Teacher"))
        {
            @if (item.isTask is true)
            {
                <div class="card mt-2 mx-3 p-3" style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;" id="listCardLesson">
                  @*  <div class="row row-cols-auto">
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-clipboard"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify;">
                                <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                                <p class="card-text" style="margin-top: -10px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        @item.CreatedDate.ToString("d MMMM")
                                    </small>
                                </p>
                                <p class="card-text" style="margin-top: -29px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        Deadline : @item.DeadlineDate
                                    </small>
                                </p>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-auto d-flex justify-content-center align-items-center">
                            <div class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-clipboard"></i>
                            </div>
                        </div>
                        <div class="col-8 justify-content-center align-items-center">
                            <div class="card-body p-0 m-0 justify-content-center" style="text-align:start;">
                                <h6 class="card-text m-0" style="margin-top:10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h6>
                                <p class="card-text" style="margin-top: -10px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        @item.CreatedDate.ToString("d MMMM")
                                    </small>
                                </p>
                                <p class="card-text" style="margin-top: -29px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        Deadline : @item.DeadlineDate
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col justify-content-center" style="position:absolute; right:24px;">
                                <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn btn-info mb-0"><i class="fa-solid fa-eye"></i> Detail</a>
                                <button onclick="ShowUpdateLesson('@item.LessonGuid')" data-bs-toggle="modal" data-bs-target="#modalUpdateLesson" class="btn btn-warning mb-0"><i class="fas fa-edit"></i> </button>
                                <button onclick="DeleteLesson('@item.LessonGuid')" class="btn btn-danger mb-0"><i class="fas fa-trash "></i> </button>
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="card mt-2 mx-3 p-3" style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;" id="listCardLesson">
                  @*  <div class="row row-cols-auto">
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="rounded-circle bg-primary text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-book"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify;">
                                <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                                <p class="card-text" style="margin-top: -10px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        @item.CreatedDate.ToString("d MMMM")
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col justify-content-center" style="position:absolute; right:24px;">
                                <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn btn-primary mb-0"><i class="fa-solid fa-eye"></i> Detail</a>
                                <button onclick="ShowUpdateLesson('@item.LessonGuid')" data-bs-toggle="modal" data-bs-target="#modalUpdateLesson" class="btn btn-warning mb-0"><i class="fas fa-edit"></i> </button>
                                <button onclick="DeleteLesson('@item.LessonGuid')" class="btn btn-danger mb-0"><i class="fas fa-trash "></i> </button>
                            </div>
                        </div>
                    </div>*@
                    <div class="row row-cols-auto">
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="rounded-circle bg-primary text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-book"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify; text-overflow: ellipsis; overflow: hidden;">
                                <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                                <p class="card-text" style="margin-top: -10px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        @item.CreatedDate.ToString("d MMMM")
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col justify-content-center" style="position:absolute; right:24px;">
                                <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn btn-info mb-0"><i class="fa-solid fa-eye"></i> Detail</a>
                                <button onclick="ShowUpdateLesson('@item.LessonGuid')" data-bs-toggle="modal" data-bs-target="#modalUpdateLesson" class="btn btn-warning mb-0"><i class="fas fa-edit"></i> </button>
                                <button onclick="DeleteLesson('@item.LessonGuid')" class="btn btn-danger mb-0"><i class="fas fa-trash "></i> </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            }

            @*-----------------MODAL INSERT LESSON-----------------*@
            <div class="modal" tabindex="-1" id="modalLesson">
                <div class="modal-dialog  modal-dialog-centered ms-auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Create Lesson</h5>
                            <button type="button" class="btn btn-danger btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body row">
                            <div class="col">
                                <form id="addLessonForm">
                                    <div class="mb-3">
                                        <label for="nameLesson" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="nameLesson" name="nameLesson" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="descriptionLesson" class="form-label">Description</label>
                                        <textarea class="form-control" id="descriptionLesson" name="descriptionLesson"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="subjectAttachmentLesson" class="form-label">Subject Attachment</label>
                                        <input type="url" class="form-control" id="subjectAttachmentLesson" name="subjectAttachmentLesson" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="istask" class="form-label">Is there any task?</label>
                                        <select class="form-select" id="isTask" aria-label="Floating label select example">
                                            <option>Choose an option for task</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <input type="hidden" class="form-control" id="classroomGuidLesson" name="classroomGuidLesson" value="@Model.ClassroomModel.Guid">
                                    </div>

                                    <div class="mb-3" id="deadlineContainer" style="display: none;">
                                        <label for="deadlineDateLesson" class="form-label">Deadline</label>
                                        <input type="datetime-local" class="form-control" id="deadlineDateLesson" name="deadlineDateLesson" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-header">
                            <button onclick="InsertLesson()" type="button" id="btnSave" class="btn btn-primary mx-auto">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            @*-----------------MODAL UPDATE LESSON-----------------*@
            <div class="modal" tabindex="-1" id="modalUpdateLesson">
                <div class="modal-dialog  modal-dialog-centered ms-auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Edit Lesson</h5>
                            <button type="button" class="btn btn-danger btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body row">
                            <div class="col">
                                <form id="addLessonForm">
                                    <div class="mb-3">
                                        <input type="hidden" class="form-control" id="guidUpdateLesson" name="guidUpdateLesson">
                                    </div>
                                    <div class="mb-3">
                                        <label for="nameUpdateLesson" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="nameUpdateLesson" name="nameUpdateLesson" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="descriptionUpdateLesson" class="form-label">Description</label>
                                        <textarea class="form-control" id="descriptionUpdateLesson" name="descriptionUpdateLesson"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="subjectAttachmentUpdateLesson" class="form-label">Subject Attachment</label>
                                        <input type="text" class="form-control" id="subjectAttachmentUpdateLesson" name="subjectAttachmentUpdateLesson" required>
                                    </div>
                                    <div id="deadlineDateContainer" class="mb-3" style="display:none">
@*                                        <label for="deadlineDateUpdateLesson" class="form-label">Deadline</label>
                                        <input type="datetime-local" class="form-control" id="deadlineDateUpdateLesson" name="deadlineDateUpdateLesson" required>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-header">
                            <button onclick="UpdateLesson()" type="button" id="btnSave" class="btn btn-primary mx-auto">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        else if (User.IsInRole("Student"))
        {
        @if (item.isTask is true)
        {
                <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn card mt-2 mx-3" style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;" id="listCardLessonStudent">
                    <div class="row">
                        <div class="col-md-auto d-flex justify-content-center align-items-center">
                            <div class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-clipboard"></i>
                            </div>
                        </div>
                        <div class="col-8 justify-content-center align-items-center">
                            <div class="card-body p-0 m-0 justify-content-center" style="text-align:start;">
                                <h6 class="card-text m-0" style="margin-top:10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h6>
                                <p class="card-text" style="margin-top: -10px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        @item.CreatedDate.ToString("d MMMM")
                                    </small>
                                </p>
                            </div>
                        </div>
           @*             <div class="col d-flex justify-content-center align-items-center">
                        </div>*@
                        <div class="col d-flex text-end justify-content-end" style="">
                            @*@if(item.DeadlineDate < DateTime.Now)
                            {
                                <div class="d-flex flex-column">
                                <p class="m-0" style="color: #d92020;">
                                    <small>
                                        <i class="fa-solid fa-triangle-exclamation me-2" style=""></i>Overdue
                                    </small>
                                </p>
                                <p class="m-0" style="color: #d92020;">Deadline : @item.DeadlineDate</p>
                                </div>
                            }
                            else
                            {
                            }*@
                                <p class="m-0 d-flex align-items-center" style="align-self:center;">Deadline : @item.DeadlineDate</p>
                        </div>
                    </div>
                </a>
        }
        else
        {
                <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn card mt-2 mx-3 " style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;" id="listCardLessonStudent">
                    <div class="row row-cols-auto">
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="rounded-circle bg-primary text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-book"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify; text-overflow: ellipsis; overflow: hidden;">
                                <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                                <p class="card-text" style="margin-top: -10px;">
                                    <small class="text-muted" style="font-size: 0.75em">
                                        @item.CreatedDate.ToString("d MMMM")
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            }

        }

        else
        {
            <h3>Check your account!</h3>
        }
    }
</div>

@section Scripts {
   <script> 
    const isTaskSelect = document.getElementById("isTask");
    const deadlineContainer = document.getElementById("deadlineContainer");

    isTaskSelect.addEventListener("change", function () {
        if (isTaskSelect.value === "true") {
            deadlineContainer.style.display = "block";
        } else {
            deadlineContainer.style.display = "none";
        }
    });
   </script>
    <script src="~/js/lesson.js" asp-append-version="true"></script>
}