@model Client.ViewModels.CombinedViews.ClassroomDetailsVM

@{
    ViewData["Title"] = "Lessons";
    Layout = "_Dashboardlayout";
}

<div class="card">
    <div class="card my-3 mx-3 h-100" style="min-height:250px; background-image:url(https://gstatic.com/classroom/themes/img_backtoschool.jpg); background-size:cover;">
        <a href="/dashboard/getpeople?classroomGuid=@Model.ClassroomModel.Guid" style="position: absolute; top: 5px; right: 12px; z-index:99; color:white;">See All Student</a>
        <div class="ms-3 my-2 w-75" style="position: absolute; bottom: 0; left: 0;">
            <p class="h3" style="color:aliceblue;">@Model.ClassroomModel.Name</p>
            <p class="" style="color:aliceblue;">@Model.ClassroomModel.Description</p>
        </div>
    </div>

    @foreach (var item in Model.ClassroomLessonViewModels)
    {
        @if (item.isTask is true)
        {
            <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn card mt-2 mx-3" style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;" id="listCardLesson">
                <div class="row row-cols-auto">
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                            <i class="fa-solid fa-clipboard"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify;">
                            <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                            <p class="card-text" style="margin-top: -10px;">
                                <small class="text-muted" style="font-size: 0.75em">
                                    @item.CreatedDate.ToString("d MMMM")
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        @if (User.IsInRole("Teacher"))
                        {
                            <button class="btn btn-warning"><i class="fas fa-edit"></i> </button>
                            <button class="btn btn-danger"><i class="fas fa-trash"></i> </button>
                        }
                    </div>
                </div>
            </a>
        }
        else
        {
            <a asp-controller="Dashboard" asp-action="LessonDetail" asp-route-lessonGuid="@item.LessonGuid" class="btn card mt-2 mx-3 " style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;" id="listCardLesson">
                <div class="row row-cols-auto">
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="rounded-circle bg-primary text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                            <i class="fa-solid fa-book"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify;">
                            <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                            <p class="card-text" style="margin-top: -10px;">
                                <small class="text-muted" style="font-size: 0.75em">
                                    @item.CreatedDate.ToString("d MMMM")
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        @if (User.IsInRole("Teacher"))
                        {
                            <button class="btn btn-warning"><i class="fas fa-edit"></i> </button>
                            <button class="btn btn-danger"><i class="fas fa-trash"></i> </button>
                        }
                    </div>
                </div>
            </a>
        }
    }
</div>