@model Client.ViewModels.CombinedViews.LessonDetailsVM

@{
    ViewData["Title"] = "LessonDetail";
    Layout = "_DashboardLayout";
}
<div class="card">
    <div class="row">
        <div class="col">
            <div id="titleLesson" class="mx-4 my-3" style="border-bottom: 1px solid #5e72e4;">
                <h3>
                    @Model.LessonModel.Name
                </h3>
                <p style="margin-top:-10px">
                    <small class="text-muted">
                        @Model.LessonModel.CreatedDate.ToString("d MMMM")
                    </small>
                </p>
            </div>
            <div id="contentLesson" class="mx-4" style="text-align:justify;">
                <p>
                    @Html.Raw(Model.LessonModel.Description.Replace("\n", "<br>"))
                </p>
                <div>
                    <p class="m-0">Referensi :</p>
                    <p>
                        @Model.LessonModel.SubjectAttachment
                    </p>
                </div>
            </div>
        </div>
        @if (Model.LessonModel.IsTask is true && User.IsInRole("Student"))
        {
            @if (Model.GetSubmittedTaskVM != null && Model.GetSubmittedTaskVM.Attachment != null && Model.GetSubmittedTaskVM.Grade is null)
            {
                <div class="col-md-4">
                    <div class="card my-3 me-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                        <div class="mb-3" id="user-guid-edit" style="display: none;">
                            <label for="userGuidEditTask" class="form-label"></label>
                            <input type="hidden" class="form-control" id="userGuidEditTask" value="@User.FindFirst("Guid").Value" readonly>
                        </div>
                        <div class="mb-3" id="lesson-guid-edit" style="display: none;">
                            <label for="lessonGuidEditTask" class="form-label"></label>
                            <input type="hidden" class="form-control" id="lessonGuidEditTask" value="@Model.LessonModel.Guid" readonly>
                        </div>
                        <div class="mx-3 mt-2">
                            <label class="h6 form-label">Your Work<span style="position:absolute; top:8px; right:16px; background-color:none;" id="editButtonAttachment"><i class="fa-solid fa-pen-to-square"></i></span></label>
                            <input type="text" class="form-control" id="attacmentEditTask" value="@Model.GetSubmittedTaskVM.Attachment" readonly>
                        </div>
                        <div class="my-2 mx-3">
                            <button type="submit" class="btn btn-primary" id="buttonEditTask" style="display: none;">Submit</button>
                        </div>
                    </div>
                </div>
            }
            else if (Model.GetSubmittedTaskVM != null && Model.GetSubmittedTaskVM.Grade != null)
            {
                <div class="col-md-4">
                    <div class="row justify-content-center align-items-center">
                        <div class="col">
                            <div class="card my-3 me-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                                <div class="mx-3 mt-2 mb-3">
                                    <label class="h6 form-label">Your Work</label>
                                    <input type="text" class="form-control" id="attacmentEditTask" value="@Model.GetSubmittedTaskVM.Attachment" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="card my-3 me-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                                <div class="mx-3 mt-2 mb-3">
                                    <label class="h6 form-label" style="font-size:20pt;">Score</label>
                                    <p class="m-0" style="font-family:Poppins; font-size:42pt; color:#2563eb; max-height:80px;">@Model.GetSubmittedTaskVM.Grade</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {    
            <div class="col-md-4">
                <div class="card my-3 me-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                    <div class="mb-3" id="user-guid" style="display: none;">
                        <label for="userGuidSubmitTask" class="form-label"></label>
                        <input type="hidden" class="form-control" id="userGuidSubmitTask" value="@User.FindFirst("Guid").Value" readonly>
                    </div>
                    <div class="mb-3" id="lesson-guid" style="display: none;">
                        <label for="lessonGuidSubmitTask" class="form-label"></label>
                        <input type="hidden" class="form-control" id="lessonGuidSubmitTask" value="@Model.LessonModel.Guid" readonly>
                    </div>
                    <div class="mx-3 mt-2">
                        <label class="h6 form-label">Your Work</label>
                        <input type="text" class="form-control" placeholder="https://www.contoh-link-tugas.com" id="attacmentSubmitTask">
                    </div>
                    <div class="my-2 mx-3">
                        <button type="submit" class="btn btn-primary" id="buttonSubmitTask">Submit</button>
                    </div>
                </div>
            </div>
            }
        }
        else
        {
            <div class="col-4" style="display: none;"></div>
        }
    </div>
    @if (Model.LessonModel.IsTask is true && User.IsInRole("Teacher"))
    {
        <div class="d-flex align-items-end flex-column" style="position:absolute; top:15px; right:20px;">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary mb-0"><i class="fa-solid fa-eye"></i> Detail</button>
                </div>
            </div>
        </div>
    }
</div>




@*
<h1>LessonDetail</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassroomGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassroomGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
